.tableSearch input {
    display: block;
    width: 200px;
    height: 20px;
    padding: 5px 8px;
    margin-bottom: 8px;
    background: rgba(129,223,161,.5);

    line-height: 20px;
    border-width: 0;
    border-radius: 10px;
    resize: none;

    font-family: 'Nunito', sans-serif;
    font-size: 14px;

    outline: 0;
}