.appWrapper {
  width: 1170px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  /*font-family: Nunito;*/
  font-size: 16px;
}

/* Полоса прокрутки */

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color:#ecedee;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 2px;
  background-color:#61CB7F;
}

::-webkit-scrollbar-thumb:hover{
  background-color:#33B257;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
}

::-webkit-scrollbar{
  width: 4px;
}
